<ion-header>
  <ion-toolbar>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <div *ngIf="publicationForm.get('title').touched && publicationForm.get('title').invalid">
      <ion-text color="danger">
        <small *ngIf="publicationForm.get('title').hasError('required')">
          El título es requerido.
        </small>
        <small *ngIf="publicationForm.get('title').hasError('minlength')">
          El título debe tener al menos 5 caracteres.
        </small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <div *ngIf="publicationForm.get('description').touched && publicationForm.get('description').invalid">
      <ion-text color="danger">
        <small *ngIf="publicationForm.get('description').hasError('required')">
          La descripción es requerida.
        </small>
        <small *ngIf="publicationForm.get('description').hasError('minlength')">
          La descripción debe tener al menos 20 caracteres.
        </small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>
    <div *ngIf="image">
      <img [src]="image" alt="Vista previa de la imagen" style="max-width: 100%; margin-top: 10px;" />
    </div>

    <ion-button expand="block" type="submit" [disabled]="publicationForm.invalid">Guardar</ion-button>
  </form>
</ion-content>
